.wordDrop{
    font-family: 'Fredoka One', cursive;
    position:relative;
    width: calc(100% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
    // font-size: 2.5em;
    font-weight: bold;
    border: 5px solid #5566fd;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #5566fd;
    background: white;
    margin-right: 20px;
    font-size: 2em;
    &-over{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        opacity: 0.5;
        background-color: yellow;
    }
    &.matchesWord{
        background: #5dd4a9;
        border-color: #5dd4a9;
        box-shadow: 0px 0px 15px #5dd4a9;
        overflow: hidden;
    }
    &:empty {
        &:after{
            content: "Drag Letters Here";
            font-size: 0.75em;
        }
    }
}