.letterContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: column;
    &-inner{
        display: flex;
        flex-wrap: wrap;
    }
}

.bottom-float{
    margin-top: 10px;
    position: sticky;
    bottom: 5px;
    display: flex;
    margin: 0 5px;
}