.letterContainer{
    display: flex;
    // justify-content: start;
    flex-wrap: wrap;
    flex-direction: column;
    &-inner{
        display: flex;
        flex-wrap: wrap;
    }
}

.bottom-float{
    position: sticky;
    bottom: 5px;
    display: flex;
    margin: 10px 5px;
}