.trashCan{
    height: 100px;
    width: 100px;
    background: red;
    margin-top: 10px;
    &:after{
        align-items: center;
        content: "Trash Can";
        display: flex;
        justify-content: center;
        font-size: 1.2em;
        color: white;
        height: 100%;
        text-transform: uppercase;
        text-align: center;
    }
}