#iframeCode{
    display: none;
    width: 100%;
    max-width: 600px;
    height: 200px;
    margin: 0 auto;
}

#iframeCode.visible{
    display: inherit;
}

#buildIframe{
    display: flex;
    flex-direction: column;
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

input, select{
    width: 100%;
}

label, button {
    margin-top: 10px;
}

button{
    padding: 5px;
}

h1{
    text-align: center;
    margin: 5px;
}

textarea{
    margin-top: 5px;
}